<div class="about_us_page">
  <div class="row">
    <div class="col-md-9 about-us-rest">
      <%= image_tag('aboutus.jpg', id: 'about-img') %>
    </div>
    <div class="col-md-3 about-us-txt">
      <h1> About Us </h1>
      <p>Ullamco sunt veniam anim mollit laboris occaecat officia ad exercitation excepteur ipsum anim eu. Pariatur cillum culpa duis dolore sunt. Culpa voluptate esse ea non occaecat amet minim ipsum. Duis duis ut adipisicing sunt laborum pariatur culpa aute aliqua deserunt cupidatat consequat. Dolor magna sint sit enim mollit. Labore non enim incididunt amet occaecat tempor minim nostrud ad nulla non officia esse anim. Laboris excepteur sunt nisi quis Lorem nostrud minim anim excepteur ipsum in adipisicing.</p>
    </div>


  </div>
</div>
