<div class="about_us_page">
  <div class="row">
    <div class="col-md-9 about-us-rest">
      <%= image_tag('aboutus.jpg', id: 'about-img') %>
    </div>
    <div class="col-md-3 about-us-txt">
      <p>We are a Real Estate investment group with over 35 years of experience in buying and remodeling homes.  We have purchased over five hundred homes within the past five years.  We pride ourselves in having integrity and systems in place to quickly navigate through the closing process.  </p>
        
        <p>Our staff includes individuals who will return your calls and emails to make sure that the transaction is a smooth experience and meets or exceeds your expectations.  You will receive a personalized experience where we take responsibility for the commitments that we make in purchasing your home.  We have seen all transaction types meaning that we have the experience needed to close any purchase no matter the complexity. </p> <p> We are also experts in construction and are not intimidated by large repair projects or damage to a property.  Having said that, many of the homes that we buy have little or no damage to the property.  Its safe to say that no matter what your home needs our team has the experience to purchase your property.  We look forward to the opportunity to show you truly great service and exceed your expectations.  </p><p>There is not an easier way to sell your home!</p>
    </div>
  </div>
</div>
