<div class="about_us_page">
  <div class="row">
    <div class="col-md-3 contact-us-txt">
      <h1>Contact Us</h1>
      <p>Ullamco quis enim culpa magna consequat elit sint ullamco officia nostrud culpa et laboris. In sunt dolore culpa aute proident sunt ad voluptate deserunt sunt est consectetur. Commodo consequat veniam proident elit tempor pariatur veniam anim ut. Tempor dolor exercitation voluptate qui irure labore nostrud incididunt ex. Ullamco fugiat incididunt irure velit cillum. Aliquip elit non aute dolore dolor est cillum enim ullamco irure officia tempor irure enim.</p>
    </div>
    <div class="col-md-9 contact-us-rest">
      <%= image_tag('tele.jpg', id: 'contact-img') %>
    </div>


  </div>
</div>