<div class="about_us_page">
  <div class="row">
    <div class="col-md-3 contact-us-txt">
      <h1>Contact Us</h1>
      <p>Would you prefer to speak to someone live? Call us toll-free at (800) 555-5555</p>
<br>
      <p>We understand that sometimes situations are unique. We will do our best to listen and understand how we can best help you. Our trained staff would be happy to take your information over the phone and set up an appointment with one of our local, trusted partners. 
      </p>
    </div>
    <div class="col-md-9 contact-us-rest">
      <%= image_tag('contact.jpg', id: 'contact-img') %>
    </div>


  </div>
</div>