
<%= image_tag('homebg.jpg', id: 'home-background') %>
<div class="container">
  <div class="homepage">
    <%= render 'shared/nav_mobile' %>
    <%= render 'shared/nav' %>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2 btn btn-success home-btn">Estimate</div>
      <div class="col-md-2 btn btn-success home-btn">Appointment</div>
      <div class="col-md-4"></div>
    </div>
    <%= render 'shared/footer' %>
  </div>
  </div>



