
<div class="row">
  <%= image_tag('workbg.jpg', id: 'work-img') %>
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="card-block">
      <div class="card works-card">
        <div class="works-text">
          <h4>STEP 1: THE ESTIMATE</h4>
          <p>Once we receive your information, we will immediately send you a purchase price range. If the price range is workable for you, set up a no-obligation appointment so that one of our trusted, local partners can see the home. </p>

          <h4>STEP 2: THE Walk-Through</h4>
          <p>One of our local partners will contact you in order to set up a quick, 10-15 minute walkthrough of your home. Based off the walk-through, we will give you an official offer with the exact amount that we will pay for your home.</p>

          <h4>STEP 3: THE PURCHASE AGREEMENT</h4>
          <p>Once we have agreed on an amount that is workable, we will both sign a purchase agreement that will be scheduled to close on whatever date that you select. We can close fast or slow, just let us know! Sometimes clients even ask us to close on their homes, then give them a few extra days to move out. Whatever your request may be, we will do our best to help you!</p>
          
          <h4>STEP 4: TITLE AND ESCROW</h4>
          <p>Title and Escrow are a 4rd party that represents both you and us. Unlike traditional real estate transactions, we will pay all of the closing costs. Although we often close homes in 5 days, sometimes the title company will require a few extra days in order to get the right paperwork in place. Whatever the case may be, just know that we are ready to close as soon as possible. </p>

          <h4>STEP 5: CLOSING</h4>
          <p>Almost done! Once title and escrow are cleared, the title company will reach out to you to have you sign the closing documents. They will go over the entire transaction with you to be sure that you are ready to sign. They will ask you if you would like to receive your money as a check, or have it wired directly to your bank. After signing, you can expect the title company to disburse the funds within 44 business hours. </p>
          
      </div>
    </div>
  </div>
  <div class="col-md-3">

  </div>

</div>
