<%= image_tag('workbg.jpg', id: 'work-img') %>
<div class="row">
  <div class="col-md-3">>

  </div>
  <div class="col-md-6">>
    <div class="card-block">
      <div class="card">
          <h1> How it works </h1>
          <p>Tempor non excepteur esse esse voluptate amet sunt duis est ex irure qui deserunt aute. Pariatur labore ipsum tempor culpa incididunt commodo exercitation id labore excepteur amet ullamco. Lorem ullamco amet sit minim consequat nisi proident ullamco exercitation culpa ullamco elit dolore. Cupidatat sunt quis in ea. Ut occaecat aute amet dolore cillum. Sit culpa labore est officia sit adipisicing aliqua proident exercitation. Velit quis officia laboris occaecat pariatur ut irure aliquip consequat consectetur.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">

  </div>

</div>
