@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages.scss";
@import "appointments.scss";
@import "estimates.scss";


// Global

body {
  padding-bottom: 0px;
}

// Nav

.nav{
  margin-bottom: 50px;
  padding-right: 100px;
  background-color: rgba(255, 255, 255, .7);
}

.nav  a {
  color: #000000;
  margin-left: 5px;
}
.nav  a:hover {
  color: #000000;
  margin-left: 5px;
  border-radius: 5px;
}

.active a{
    color: white !important;
    background-color: #B3B3B3 !important;
    border-radius: 5px;
}








// Mobile

// // Ipad Pro and Laptops
@media (max-width: 1024px){
  
}

// // Ipad size tablets
@media (max-width: 768px){

}

// // Larger Phones (iPhone 6 Plus, Nexus 6P)
@media (max-width: 414px){
  
}

// // Smaller Phones
@media (max-width: 320px){
  
}