@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages.scss";
@import "appointments.scss";
@import "estimates.scss";
@import "font-awesome-sprockets";
@import "font-awesome";


// Global
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
font-family: 'Montserrat', sans-serif;
}


body {
  padding-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}

// Nav

.nav{
  margin-bottom: 50px;
  margin-left: 100px;
  padding-right: 100px;
  background-color: rgba(172, 173, 188, 0);
}

.nav  a {
  color: #000000;
  margin-left: 5px;
      color: white ;
    background-color: #C5C3C3 ;
    border-radius: 5px;
}
.nav  a:hover {
  color: #000000;
  margin-left: 5px;
  border-radius: 5px;
}

.active{
    color: black !important;
    background-color: rgb(241, 91, 47) !important;
    border-radius: 5px;
}

#logo {
  width: 400px;
  margin-bottom: -20px;
}

// Footer
.log-in {
  font-size: .7em;
  color: white;
}

.log-in:hover {
  font-size: .7em;
  color: black;
}








// Mobile

// // Ipad Pro and Laptops
@media (max-width: 1024px){
  
}

// // Ipad size tablets
@media (max-width: 768px){

}

// // Larger Phones (iPhone 6 Plus, Nexus 6P)
@media (max-width: 414px){
  
}

// // Smaller Phones
@media (max-width: 320px){
  
}