// Home Page
#home-background {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // width: 100%;
  // height: auto;
  // z-index: -100;
  // -webkit-transform: translateX(-50%) translateY(-50%);
  // transform: translateX(-50%) translateY(-50%);
  // background-size: cover;
  background-color: #E2E2E2;
  // filter: blur(2px) grayscale(2);
  //   -webkit-filter: blur(2px) grayscale(2);
}

.home-btn {
  background-color: rgba(254, 185, 91, 0.8);
  white-space: normal;
  position: static;
  margin: 50px 15px;
  filter: drop-shadow(2px 2px 2px)
}

.home-btn a {
  color: black;
}

.carousel-inner > .carousel-item > img, 
.carousel-inner > .carousel-item > a > img{
width: auto;
margin: auto;
}

.car-card {
  color: black;
  background-color: rgba(255, 255, 255, .6);
}

.chevron {
color: black !important;
}

.car-img {
  max-height: 400px;
  min-height: 400px;
  min-width: 800px;
  max-width: 800px;
}
// About Us

.about-us-rest{

}

#about-img {
  width: 100%;
  height: auto;
  margin-top: -48px;
  filter: grayscale(1);
    -webkit-filter: grayscale(1); 
}


.about-us-txt{
margin-top: -20px;
font-size: .95em;
}

// Contact US

.contact-us-txt {
  padding-top: 100px;
}

.contact-us-rest {

}

#contact-img {
  width: 100%;
  height: auto;
  margin-top: -48px;
  filter: grayscale(1);
    -webkit-filter: grayscale(1); 
}

// How it works

#work-img {
  position: fixed;
  top: 56.5%;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  filter: grayscale(2);
    -webkit-filter: grayscale(2);
}

.works-card {
  background-color: rgba(255,255,255, .85);
  font-size: .9em;
}

.works-text{
  margin: 5px 15px 15px 15px;
}


// Boostrap stuff

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
